* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.4rem;
}
.pic {
  /* display: inline-block; */
  max-height: 10vh;
  max-width: 15vw;
}
.cherry {
  grid-column: 1 / span 2;
}
.leaves {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.water {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.mountain {
  grid-column: 5 / span 1;
  grid-row: 1 / span 5;
}
.yoga {
  grid-row: 5 / span 1;
}
.bird {
  grid-row: 6 / span 1;
}

.cycle {
  grid-row: 7 / span 1;
}

.computer {
  grid-column: 2 / span 3;
  grid-row: 5 / span 3;
}
.flow {
  grid-row: 7 / span 2;
}
