* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(10, 67, 10);
}
label {
  display: inline-block;
  width: 150px;
  margin: 10px 0;
}
button {
  border: none;
  background-color: orange;
  padding: 5px;
  border-radius: 2px;
  margin-top: 20px;
  color: white;
  width: 75%;
}
/* #box {
  border-style: solid;
  border-radius: 25px;
  padding: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 200px;

  background-color: white;
} */
/* .col1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col2 {
  float: left;
  width: 75%;
  margin-top: 6px;
} */
#box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0.8rem;
  width: 250px;
  font-size: 0.9rem;
}
form {
  padding: 0.8rem;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .col1,
  .col2,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
